body{
    background-color:#18191a;
}
#buscador{
    background-color:#5b5f63;
    height:6%;
    width:15%;
    border-radius:12%;
    position: absolute;
    top: 1%;
    left: 5%;
}
::placeholder { 
    color: rgb(175, 171, 171);
}
.contenedor{
    justify-content:center;
}
.historia{
    background-color:#000;
    height: 28%;
    width: 9%;
    border-radius: 50%;
    display: inline-block;
    margin-left: 2%;
    border-radius: 5%;
}
#logo{
    height: 6%;
    width: 3%;
    position: absolute;
    top: 1%;
    left: 1%;
}